  
.table-sortable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
   width:70%;
    margin-left: auto; 
    margin-right: auto;
  }
  
  
  .table-sortable td, .table-sortable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  
  .table-sortable tr:nth-child(even){background-color: #f2f2f2;}
  
  .table-sortable tr:hover {background-color: #ddd;}
  
  
  .table-sortable th {
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  
  .table-sortable .th-sort-asc::after {
    content: "\25b4";
   
  }
  
  .table-sortable .th-sort-desc::after {
    content: "\25be";
  }
  
  .table-sortable .th-sort-asc::after,
  .table-sortable .th-sort-desc::after {
    margin-left: 5px;
  
  }
  
  .table-sortable .th-sort-asc,
  .table-sortable .th-sort-desc {
     /* background: rgba(0, 0, 0, 0.1); */
    background-color: #12e095;
   
  }
  #myInput {
    /* background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat; */
    
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid black;
    /* margin-bottom: 12px; */
    
    /* max-width:500px */
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 200px;
  
  }
  #message {
          display:none; 
          position: relative;
        }
  
  
      /* sdnjsksjdks */
      @import url('https://fonts.googleapis.com/css?family=Roboto');
  
  .pagination-btn {
      padding: 6px 8px;
      font-weight: normal; 
      font-size: 15px;
      border-radius: 4px;
      display: inline-block; 
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      user-select: none;
      text-decoration: none;
      transition: background-color 400ms; 
      min-width: 10px;
      height: 18px;
      line-height: 18px;
      font-family: "Roboto",sans-serif, Marmelad,"Lucida Grande",Arial,"Hiragino Sans GB",Georgia,"Helvetica Neue",Helvetica; 
      color: white; 
      border-color: #5a3291;  
      background-color: #064685;       
  }
   
  .pagination-btn:focus, 
  .pagination-btn:hover,
  .pagination-btn:active, 
  .pagination-btn:active:hover, 
  .pagination-btn:active:focus {
      color: white; 
      border-color: #784cb5;
      background-color: #376a9d;
  }
  /* 
  .pagination-btn.first {     
  } */
  
  .pagination-btn.previous { 
      font-size: 12px;
  }
  
  .pagination-btn.next { 
      font-size: 12px;
  }
  
  /* .pagination-btn.last { 
  }
    */
  .pagination-btn.page-number { 
      min-width: 17px;
  }
  
  .pagination-btn.go { 
      height: 19px;
  }
  
  .pagination-btn.hide {
      display: none;
  }
  
  .pagination-btn.active {
      color: white;
      background-color: #3eceff;
      border-color: #3eceff;  
  }
  
  .pagination-btn.active:focus, 
  .pagination-btn.active:hover,
  .pagination-btn.active:active {
      color: white;
      background-color: #00b4f0;
      border-color: #00b4f0;
  }
  
  .pagination-btn:disabled,
  .pagination-btn[disabled],
  .pagination-btn.disabled:hover,
  .pagination-btn[disabled]:hover,
  fieldset[disabled] .pagination-btn:hover,
  .pagination-btn.disabled:focus,
  .pagination-btn[disabled]:focus,
  fieldset[disabled] .pagination-btn:focus,
  .pagination-btn.disabled.focus,
  .pagination-btn[disabled].focus,
  fieldset[disabled] .pagination-btn.focus,
  .pagination-btn.active:disabled,
  .pagination-btn.active[disabled],
  .pagination-btn.active.disabled:hover,
  .pagination-btn.active[disabled]:hover,
  fieldset[disabled] .pagination-btn.active:hover,
  .pagination-btn.active.disabled:focus,
  .pagination-btn.active[disabled]:focus,
  fieldset[disabled] .pagination-btn.active:focus,
  .pagination-btn.active.disabled.focus,
  .pagination-btn.active[disabled].focus,
  fieldset[disabled] .pagination-btn.active.focus {
      color: #e4e4e4;    
      border-color: #9d80c4;
      background-color: #6990b5;
  }
  
  .pagination-hide {
      display: none;
  }
  
  .pagination-navigation { 
      width: 100%; 
      box-sizing: border-box;
      display: flex;
      align-items: center; 
      justify-content: space-between;
      outline: none;
  }
  
  .pagination-navigation.top {
      top: 0;
  }
  
  .pagination-navigation.bottom {
      bottom: 0;
  }
  
  .pagination-navigation-info-section { 
      text-align: center;
      padding: 2px;
      box-sizing: border-box;
      display: inline-block;
      font-family: "Roboto",sans-serif, Marmelad,"Lucida Grande",Arial,"Hiragino Sans GB",Georgia,"Helvetica Neue",Helvetica;
      font-size: 14px;
      line-height: 1.42857143;
      color: #333;
      margin-right: auto; 
      margin-left: 0;
  }
  
  .pagination-navigation-control-section {
      display: inline-block;
      margin-left: auto; 
      margin-right: 0;    
  }
  
  .pagination-navigation-button-section {
      display: inline-block;
  }
  
  .pagination-navigation-input-section {
      display: inline-block;  
      margin-left: 5px;
      padding-top: 2px;
      box-sizing: border-box;
  }
  
  .pagination-navigation-input {
      height: 29px;
      width: 36px;
      font-size: 18px;
      background: #fff;
      border-radius: 3px;
      border: 1px solid #aaa;
      padding: 0;
      font-size: 14px;
      text-align: center;
      vertical-align: baseline;
      outline: 0;
      box-shadow: none;
      margin-right: 5px;
  }